ALE/ALE/bin/
ALE/ALE/bld/
ALE/ALE.sln
ALE/ALE.v11.suo
WP8Test/HTML5AppTest/Bin/
WP8Test/HTML5AppTest.sln
WP8Test/HTML5AppTest.v11.suo
Win8Test/WebTest/bin/
Win8Test/WebTest/bld/
Win8Test/WebTest.sln
Win8Test/WebTest.v11.suo