@media all and (orientation:portrait) {
    @-ms-viewport {
        width:720px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

@media all and (orientation:landscape) {
    @-ms-viewport {
        width:1280px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#canvas {
    margin: 0px;
    padding: 0px;
    position: absolute;
}